<div class="container">
    <h3 class="text-center">Author</h3>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
          <div class="col-lg-8 col-md-8 col-sm-8 test-agile1">
            <p>My name is Marko Catic. I was born on August 17th 1996. I am a student of Internet technologies on ICT academy. My goal is to be a successful programmer and a web developer one day. </p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 test-agile2">
            <img src="assets/images/ja.jpg" class="img-circle img-responsive" alt="">
          </div>
          <div class="clearfix"></div>
      </div>
    
    </div>
    
    
    
        
    </div>